.about {
  background: url('../img/about-us.jpg') no-repeat center/cover;
}

.mission {
  text-align: center;
  padding: 5rem 0;

  h2 {
    color: @black-ish;
    margin-bottom: 3rem;
  }

  p {
    text-align: justify;
  }
}

.our-teams {
  text-align: center;
  padding: 8rem 0;
  background: linear-gradient(#5574F7, #60C3FF);

  h2 {
    color: #ccc;
    margin-bottom: 3rem;
  }

  p {
    color: @white;
  }
}