.page-header {
  min-height: 600px;
  background: url('../img/banner.jpg') no-repeat center/cover;
  background-attachment: fixed;

  .overlay {
    padding-top: 2rem;
    opacity: .9;
    background-color: #222222;
    height: auto;
    min-height: 650px;
  }

  .nav-content {
    .flex-box(row, space-between, center);

    .logo {
      img {
        max-width: 100%;
        width: 80px;
        height: 80px;
      }
    }

    .nav {
      ul {
        .flex-box(row, space-between, center);

        li {
          padding: 2.5rem;

          a {
            font-size: 1.5rem;
            text-decoration: none;
            color: @white;
            transition: 0.2s;

            &:hover {
              color: @dark-blue;
            }
          }
        }
      }
    }
  }

  .hero {
    text-align: center;
    margin-top: 20rem;

    h1 {
      margin: 10rem 0;
      font-size: 3rem;
    }

    .button {
      padding: 1.5rem;
    }
  }
}

.button {
  .button-size(@btn-padding, @btn-padding, 2rem, @btn-line-height, @btn-border-radius);
  .button-style(@white, @dark-blue, @teal)
}

.main-section {
  .our-teams {
    margin-bottom: 50px;

    header {
      margin: 5rem auto;
      width: 50%;
      text-align: center;

      h2 {
        color: @black-ish;
        margin: 3rem 0;
      }

      p {
        text-align: center;
      }
    }

    .mentors {
      .flex-box(row, space-between, center);

      .mentor {
        margin: 0 1rem;
        position: relative;

        h3 {
          color: @black-ish;
          text-align: center;
          margin: 0 0 1rem 0;
        }

        img {
          max-width: 100%;
        }

        p {
          position: absolute;
          left: 0;
          bottom: -5px;
          color: @white;
          text-align: justify;
          background: rgba(0, 0, 0, .3);
          padding: 2rem;
          height: 10rem;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.testimonies {
  background: rgb(18, 28, 56);
  color: @white;
  padding: 5rem 0;

  header {
    text-align: center;
    margin-bottom: 10rem;

    h3 {
      margin: 0 0 1rem 0;
    }

    p {
      color: @white;
      margin: 3rem 0;
    }
  }

  .all-testimony {
    .flex-box(row, space-between, flex-start);

    .entrepreneur {
      .flex-box(row, space-between, flex-start);
      margin: 0 3rem;
      height: 300px;
      background: #E2E8ED;
      border: 1px solid #f4f4f4;
      border-radius: 10px;
      overflow: hidden;

      img {
        max-width: 100%;
        width: 800px;
        height: 300px;
        border-bottom-left-radius: 100%;
        border-top-left-radius: 100%;
      }

      h5 {
        color: @black-ish;
        font-size: 3.2rem;
        margin: 0 0 2rem 0;
      }

      p {
        color: @black-ish;
      }

      .entrepreneur-details {
        padding: 3rem;
      }
    }
  }
}

.main-footer {
  background: #252525;

  .content {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

    p {
      color: @white;
    }
  }
}